.container {
  padding: 20px 40px;
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  font-size: 12px;
}

.table tr {
  width: 100%;
}

.table th {
  background-color: #4464443a;
}

.table td:first-child {
  font-weight: 600;
  background-color: #4464443a;
}

.nearest {
  font-weight: 600;
  background-color: #a7ef0c89;
}

.table tbody td:not(:first-child) {
  cursor: pointer;
  user-select: none;
}

.table tbody td:not(:first-child):hover {
  background-color: #74737341;
}

.table tbody td:not(:first-child):active {
  background-color: #87868641;
}

.table tbody td:not(:last-child):active {
  font-size: 16px;
}

.table th, .table td{
  padding: 4px;
  border: 1px solid green;
  transition: all ease-in-out 0.2s;
}

.close-container {
  width: 35px;
  height: 35px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.close-button path {
  fill: rgb(224, 57, 57);
}

.close-button { 
  width: 30px;
  height: 30px;
  transition: all ease-in-out 0.2s;
}

.close-button:hover { 
  width: 35px;
  height: 35px;
}

.close-button path:hover { 
  fill: rgb(233, 72, 72);
}

.sum-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.button {
  padding: 4px 16px;
  background-color: #347a36;
  outline: none;
  border: 1px solid green;
  cursor: pointer;
  border-radius: 4px;
  align-self: start;
}

.button:hover {
  background-color: #3c8b3f;
}

.button:disabled {
  background-color: #435043;
  border: 1px solid #688068;
  cursor: auto;
  user-select: none;
}

.modal{
  padding: 16px;
  min-width: 300px;
  max-width: 80%;
  border-radius: 8px;
  border: none;
}

.modal-container {
  display: flex;
  gap: 16px;
  flex-direction: column;
}

.modal::backdrop {
  background-color: rgb(50, 81, 50);
  opacity: 0.75;
}

.input-container {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.input {
  max-width: 100%;
  height: 24px;
  outline: none;
  border: 1px solid green;
  border-radius: 4px;
  padding: 4px 8px;
}

.modal-footer {
  display: flex;
  justify-content: space-between;
}


